<div>
  <body style="background-color:Tomato;">
    <h1> What is your cats name? </h1>
    <form action="/named-cat" method="post">
     <input type="text" name="name">
     <input type="submit" value="Submit">
    </form>
  </body
</div>