<div>
  <body style="background-color:Tomato;">
    <h1> Please enter Players names: </h1>
    <form action="/names" method="post">
    <li>
    <label for="name1">player1</label>
     <input type="text" name="name1">
    </li>
    <li>
      <label for="name2">player2</label>
      <input type="text" name="name2">
    </li>
     <input type="submit" value="Submit names">
    </form>
  </body
</div>