<div>
  <body style="background-color:Tomato;">
  
    <h1> Please enter Players names: </h1>
    
    <form action="/names" method="post">
      <ul style="list-style: none;">
        <li>
          <label for="name1">Player 1:</label>
          <input type="text" name="name1">
        </li>
        <li>
          <label for="name2">Player 2:</label>
          <input type="text" name="name2">
        </li>
        <li>
          <input type="submit" value="Submit names">
        </li>
      </ul>
    </form>

  </body>
</div>