<h1>Welcome <%= @name1 %> and <%= @name2 %></h1>
<%= @name2 %>: 50 Hit points

<div>
  <form action="/attack">
  <button type="submit" value="ATTACK!!!">ATTACK!!!</button>
  </form>
</div>

<%= @name2 %>: 40 Hit points