<h1>Welcome <%= @name1.name %> and <%= @name2.name %></h1>
<%= @name2.name %>: <%= @name2.points %> Hit points

<div>
  <form action="/attack">
  <button type="submit" value="ATTACK!!!">ATTACK!!!</button>
  </form>
</div>

